/* @import '~appointment-picker/css/appointment-picker'; */

:root {
    --bgcdark: #231F20;
    --bgclight: #EAEAEA;
    --fcdark: #8E793E;
    --fclight: #AD974F;
}

body {
    background-color: var(--bgclight);
    /* font-family: 'Bigelow Rules', cursive; */
    font-family: 'Mystery Quest', cursive;
}

/* Header and sidenavbar section */

h1{
    font-size: 3.5rem;
}

.slogan {
    font-size: 2rem;
    margin-left: 150px;
}

.slogan-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

span {
    justify-content: flex-end;
}

.header {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdg-gTpJQVxeZp1P8WfymtepP_iCQWx1P2rw7K37ZyngvtO7cK5icexEhnosK-vHX9Qlk&usqp=CAU);
    height: 9rem;
    color: var(--fclight);
    justify-content: center;
    text-align: center;
}


.sidebar {
    flex: 1 1 15%;
    text-align: right;
    padding: 20px;
    min-width: 50px;
  }

  .main-content {
    flex: 1 1 85%;
    padding: 15px;
    min-height: max-content;
    margin-left: 200px;
  }  

.navcontainer {
    /* background-color: var(--bgcdark); */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdg-gTpJQVxeZp1P8WfymtepP_iCQWx1P2rw7K37ZyngvtO7cK5icexEhnosK-vHX9Qlk&usqp=CAU);
    height: 300vh;
    position: absolute;
    width: 14vw;
}

.mx-1 {
    padding: 10px;
}

.flex-container {
    display: flex;
  }

/* regular flex container for cards */

.card-container{
    display: flex;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* This code gets rid of "log out" button styling */

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: var(--fclight);
    font-size: 1.5rem;
    text-align: start;
  }


/* section for links in navbar */

li {
    list-style-type: none;
    font-size: .9rem;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--fclight);
    font-size: 1.5rem;
    text-align: start;
}


/* card styling */

.card {
    background-color: var(--bgclight);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px var(--fcdark);
    width: 18rem;
}

.card-img-top {
    max-height: 16rem;
}
/* styling for buttons */

.btn {
    background-color: var(--bgcdark);
    color: var(--fclight)
}

/* increases size of button on admin page */

.mod-btn {
    font-size: 24px;
}

.custom-btn {
    font-size: 24px;
}

  
/* styling for all general headers */

  h3 {
      color: var(--fclight);
      font-weight: bold;
  }

  /* styling for appointment modal */
  
  ::placeholder {
      color: var(--fclight) !important;
  }
  
  .apt-box {
      background-color: var(--bgclight) !important;
  }

  @media screen and (max-width: 1440px) {
    .header {
        width: 101vw;
    }
  }
  
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3rem;
    }
    
    .header {
        font-size: 1.5rem;
        width: 112vw;
    }

    .navcontainer{
        height: 300vh;
    }

    a {
        font-size: 1rem;
    }

    .no-button {
        font-size: 1rem;
    }
    
    .content {
        margin-left: 200px;
      }

      .card {
        width: 15rem;
      }
}


@media screen and (max-width: 770px) {
    h1 {
        font-size: 2.7rem;
    }
    
    .header {
        font-size: 1.5rem;
        width: 105vw;
    }

    li {
        font-size: .7rem;
    }

    .navcontainer {
        min-width: 20vw;
        height: 250vh;
    }

    .card {
        width: 11rem;
      }

      h5 {
        font-size: .8rem;
    }

    .btn {
        font-size: .6rem;
    }

    .mod-btn {
        font-size: 15px;
    }

    .custom-btn {
        font-size: 24px;
    }

    body {
        font-size: .7rem;
    }

    .card-container{
        display: flex;
        justify-content: flex-start;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 430px) {

    h1 {
        font-size: 1.8rem;
    }

    li {
        font-size: .5rem;
    }

    .header {
        font-size: 6rem;
        height: 14vh;
        width: 130vw;
    }

    .navcontainer {
        width: 25vw;
    }

    a {
        font-size: .7rem;
    }

    .no-button {
        font-size: .7rem;
    }

    h5 {
        font-size: .8rem;
    }

    .btn {
        font-size: .55rem;
    }

    .mod-btn {
        font-size: 10px;
    }

    .custom-btn {
        font-size: 10px;
    }

    body {
        font-size: .5rem;
    }

    .content {
        margin-left: 100px;
    }
  
    .card {
        width: 12rem;
      }

      .card-container{
        display: flex;
        justify-content: flex-start;
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-content {
        flex: 1 1 85%;
        padding: 15px;
        min-height: max-content;
        margin-left: 120px;
      }  
      
      .slogan {
        font-size: 1rem;
        margin-left: 50px;
    }

    .card-img-top {
        max-height: 10rem;
    }
}

@media screen and (max-width: 380px) {
    h1 {
        font-size: 1.8rem;
    }

    header {
        font-size: 1rem;
        width: 130vw;
    }
    .navcontainer{
        height: 380vh;
    }

    .mx-1 {
        margin-left: -0.75rem!important;
    }
}

@media screen and (max-width: 322px) {

    .mx-1 {
        margin-left: -1.75rem!important;
    }

    h1 {
        font-size: 1.3rem;
    }

    header {
        font-size: .8rem;
        width: 135vw;
    }
}