:root {
    --bgcdark: #231F20;
    --bgclight: #EAEAEA;
    --fcdark: #8E793E;
    --fclight: #AD974F;
}

body {
    background-color: var(--bgclight);
    /* font-family: 'Bigelow Rules', cursive; */
    font-family: 'Mystery Quest', cursive;
}

/* Header and sidenavbar section */

h1{
    font-size: 4.5rem;
}

header {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdg-gTpJQVxeZp1P8WfymtepP_iCQWx1P2rw7K37ZyngvtO7cK5icexEhnosK-vHX9Qlk&usqp=CAU);
    height: 10rem;
    color: var(--fclight);
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
}

.navcontainer {
    /* background-color: var(--bgcdark); */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdg-gTpJQVxeZp1P8WfymtepP_iCQWx1P2rw7K37ZyngvtO7cK5icexEhnosK-vHX9Qlk&usqp=CAU);
    height: 300vh;
    position: absolute;
    width: 10vw;
}

/* regular flex container for cards */

.flex-container{
    display: flex;
    justify-content: flex-start;
}

/* This code gets rid of "log out" button styling */

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: var(--fclight);
    font-size: 1.5rem;
    text-align: start;
  }


/* section for links in navbar */

.links li {
    margin-top: 20px;
    list-style-type: none;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--fclight);
    font-size: 1.5rem;
    text-align: start;
}

/* card styling */

.card {
    background-color: var(--bgclight);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px var(--fcdark);
    width: 18rem;
}


/* styling for buttons */

.btn {
    background-color: var(--bgcdark);
    color: var(--fclight)
}

/* increases size of button on admin page */

.mod-btn {
    font-size: 24px;
}

.custom-btn {
    font-size: 24px;
}

/* pushes content in body container to the right for viewing */

.content {
    margin-left: 350px;
  }
  
/* styling for all general headers */

  h3 {
      color: var(--fclight);
      font-weight: bold;
  }

  /* styling for appointment modal */
  
  ::placeholder {
      color: var(--fclight) !important;
  }
  
  .apt-box {
      background-color: var(--bgclight) !important;
  }

  @media screen and (max-width: 1440px) {
    header {
        width: 101vw;
    }
  }
  
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3rem;
    }
    header {
        font-size: 1.5rem;
        width: 112vw;
    }

    .navcontainer{
        height: 300vh;
    }

    a {
        font-size: 1rem;
    }

    .no-button {
        font-size: 1rem;
    }
    
    .content {
        margin-left: 200px;
      }

      .card {
        width: 15rem;
      }
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.7rem;
    }
    header {
        font-size: 1.5rem;
        width: 105vw;
    }

    .navcontainer {
        width: 15vw;
        height: 250vh;
    }
    
    .content {
        margin-left: 150px;
      }

    .card {
        width: 11rem;
      }

      h5 {
        font-size: .8rem;
    }

    .btn {
        font-size: .6rem;
    }

    .mod-btn {
        font-size: 24px;
    }

    .custom-btn {
        font-size: 24px;
    }

    body {
        font-size: .7rem;
    }
}

@media screen and (max-width: 430px) {

    h1 {
        font-size: 1.8rem;
    }

    header {
        font-size: .8rem;
        height: 10vh;
        width: 130vw;
    }

    .navcontainer {
        width: 23vw;
    }

    a {
        font-size: .7rem;
    }

    .no-button {
        font-size: .7rem;
    }

    h5 {
        font-size: .8rem;
    }

    .btn {
        font-size: .55rem;
    }

    .mod-btn {
        font-size: 20px;
    }

    .custom-btn {
        font-size: 20px;
    }

    body {
        font-size: .5rem;
    }

    .content {
        margin-left: 100px;
    }
  
    .card {
        width: 12rem;
      }
      
}

@media screen and (max-width: 380px) {
    h1 {
        font-size: 1.8rem;
    }

    header {
        font-size: 1rem;
        width: 130vw;
    }
    .navcontainer{
        height: 380vh;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 1.3rem;
    }

    header {
        font-size: .8rem;
        width: 135vw;
    }
}